/* ==========================================================================
   Variables
   ========================================================================== */

$images-dir: "../images/";
$display-baseline: true;

$base-font-size: 100%;
$em-base: 16px; //16px is default size

$selection-color: #fe6724;