/* ==========================================================================
   Variables
   ========================================================================== */

$images-dir: "../images/";
$display-baseline: true;

$base-font-size: 100%;
$em-base: 16px;